body {
    font-family: "roboto", sans-serif;
}


/*navbar styles*/

.navbar__bg {
    background-color: #ef5350;
}

.navbar__title {
    font-size: 35px;
    font-weight: 700;
    color:white;
    text-align: center;
}

.navbar__list--item a {
    text-decoration: none;
}


/*header styles*/

.header__bloque {
    font-family: "roboto", sans-serif;
    text-align: center;
    width: 80%;
    margin: auto;
    padding: 3rem 0rem;
}

.header__imagen {
    width: 100%;
    height: auto;
}

.header__bloque--titulo {
    font-size: 30px;
    font-weight: bold;
    color: #ef5350;
    margin: 1rem 0rem;
}

.header__bloque--parrafo {
    font-size: 17px;
    font-weight: 300;
    font-style: italic;
}


/*form styles*/

.form__title {
  font-weight: 700;
  color: #ef5350;
  padding: 0rem 1rem;

}

.form__button {
    background: #ef5350;
    padding: auto 4rem;
    color: white;
    font-weight: 300;
}



/*graphics styles*/





/*footer styles*/

.footer {
    background: #ef5350;
}

.footer__principal {
    text-align: center;
}

.footer__content {
    padding: 2rem 0rem;
}

.footer__content--text {
    font-family: "raleway";
    color: white;
    font-size: 1rem;
    margin: 0;
}

.fa-heart {
    width: 100%;
    height: auto;
    fill: white;
}

.footer__span {
    font-style: italic;
    color: #cccccc;
}




/*media quieries*/